body{
	background: url(heor-bg.png) no-repeat ;
	background-size: 300px 150px;
}
.container-1{
	display: flex;
}
.container-2{
	padding-top: 15px;
	width: 30px; 
	height: 30px;
}
.container-3{
	font-family: sans-serif;
	color: #ffffff;
	font-size: x-large;
}
.container-4{
	padding-left: 500px;
	color: #000000;
	font-family: sans-serif;
	text-decoration: none;
}
.container-5{
	padding-left: 50px;
	color: #000000;
	text-decoration: none;
	font-family: sans-serif;
}
.container-6{
	padding-left: 50px;
	width: 20px; 
	height: 20px;
}
.container-7{
	text-align: center;
	color: #191970;
	font-family: sans-serif;
	padding-top: 50px;
}
.container-8{
	color: rgb(80,80,80);
	text-align: center;
	font-family: sans-serif;
}
.container-25{
	display: flex;
	margin-top: 70px;
	border: 2px solid transparent;
}
.container-26{
	margin-left: 3px;
	border: 2px solid transparent;
}
.container-27{
	padding-left: 10px;
	padding-right: 10px;
}
.container-28{
	font-size: large;
	color: rgb(80,80,80);
	text-align: center;
}
.container-13{
	background-color: #191970;
	color: #ffffff;
	font-size: large;
	text-align: center;
}